@model MenuViewModel

@{
    ViewData["Title"] = "Index";
}

<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function () {
        $(".menuBtns").click(function () {
            var categoryName = $(this).data("category-name");
            $("#categoryHeading").text(categoryName);
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="orderRectangle">
                <p>Your order ^</p>
            </div>
            <div class="container sticky">
                <form asp-action="FilterByCategory" method="get">
                    <div class="categoriesRow">
                        @foreach(var category in Model._Category)
                        {
                            <button type="submit" name="categoryId" value="@category.CategoryID" data-category-id="@category.CategoryID" data-category-name="@category.CategoryName" class="menuBtns">@Html.DisplayFor(model => category.CategoryName)</button>
                        }
                </div>
                </form>
            </div>

            <h1 class="heading" id="categoryHeading"></h1>

            <div class="menu">

                @foreach (var menuItem in Model._Menu)
                {
                    <div class="card cardStyle">
                          <div class="dropdown">
                             <a class="btn btn-secondary dropdown-toggle editBtn" href="#" role="button" id="editDropDown" data-bs-toggle="dropdown" aria-expanded="false" style="z-index: 5;">
                                 Modify
                             </a>
                                <ul class="dropdown-menu" aria-labelledby="editDropDown">
                                    <li><a asp-action="Edit" asp-route-id="@menuItem.MenuID" class="dropdown-item">Edit</a></li>
                                <li><a asp-action="Details" asp-route-id="@menuItem.MenuID" class="dropdown-item">Details</a></li>
                                <li><a asp-action="Delete" asp-route-id="@menuItem.MenuID" class="dropdown-item">Delete</a></li>
                            </ul>    
                          </div>
                        <form asp-action="AddToOrder" method="post"> <!--Calls the AddToOrder function in the menus controller-->
                        <div class="card-body">
                            <img class="card-img" src="@("~/Images/"+menuItem.imageName)" asp-append-version="true" style="width:100%; border-radius: 10px; height: 160px;">
                            <h4 class="card-title title">
                                @Html.DisplayFor(model => menuItem.foodName)
                            </h4>
                            <h6 class="card-subtitle subtitle">
                                $@Html.DisplayFor(model => menuItem.price)
                            </h6>
                            <div class="cardBtns">
                                <button type="button" class="customiseBtn" data-bs-toggle="modal" data-bs-target="#customiseModal">Customise</button>
                                    <input type="hidden" name="menuItemID" value="@menuItem.MenuID" /> 
                                    <button type="submit" class="addBtn">Add</button>
                            </div>
                        </div>
                        </form>
                    </div>
                }
            </div>
        </div>

        <div class="col-4">
            <div class="ordersBox">
                <h1 style="text-align: center; padding: 10px;">Order:</h1>
                    <div class="formLine">
                        <label>Student Name:</label> <!--Customer name from customers db-->
                        <input id="searchInput" />
                    </div>
                <div class="line">
                    <hr class="solid">
                </div>

                <!--Repeatable orders code-->

                <div class="orderItems">
                @foreach(var foodOrder in Model._FoodOrder)
                {
                        <div class="orderItem">
                            <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                            <div class="modifyBtns">
                                <form asp-action="DecreaseQuantity" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn">-</button>
                                </form>
                                <form asp-action="IncreaseQuantity" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn">+</button>
                                </form>
                                
                                @{
                                    decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                }
                                <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                                <form asp-action="DeleteItem" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn cancelBtn">X</button>
                                </form>
                                
                                
                            </div>
                        </div>
                    }
                </div>

                @{
                    decimal grandTotal = Model._FoodOrder.Sum(foodOrder => foodOrder.Menu.price * foodOrder.quantity);  
                }

                <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

                <div class="gridBtns">
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#noteModal">Notes</button>
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row-reverse;">
        <!--Back to top button-->
        <a href="#" class="top">Back to top ^</a>
    </div>
</div>

<!--Customise-->

<div class="modal fade" id="customiseModal" tabindex="-1" aria-labelledby="customiseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customise</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @foreach(var customise in Model._Menu)
                {
                    <form class="formCustomise">
                        <input type="checkbox" class="form-check-input" id="TomatoSauce" />
                        <label for="TomatoSauce" class="form-check-label">@Html.DisplayFor(model => customise.Customise.CustomiseName)</label><br />
                    </form>
                }
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--Checkout-->

<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Checkout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="text-align: left; margin-left: 20px; font-weight: bold;">
                    <p style="margin-bottom: 0;">Student: Prinesh Patel</p>
                    <p>Room: 23</p>
                </div>

                <div class="orderItems">
                    @foreach (var foodOrder in Model._FoodOrder)
                    {
                        <div class="orderItem">
                            <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                            <div class="modifyBtns">
                                <form asp-action="DecreaseQuantity" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn">-</button>
                                </form>
                                <form asp-action="IncreaseQuantity" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn">+</button>
                                </form>

                                @{
                                    decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                }
                                <p>$@total</p>                                  
                                <form asp-action="DeleteItem" method="post">
                                    <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                    <button type="submit" class="orderItemBtn cancelBtn">X</button>
                                </form>


                            </div>
                        </div>
                    }
                </div>

                <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Checkout and Print</button>
            </div>
        </div>
    </div>
</div>


<!--Notes-->

<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form style="display: flex; justify-content: center;">
                    <textarea class="form-control" rows="3" style="width: 95%;"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save note</button>
            </div>
        </div>
    </div>
</div>


<!--Delete-->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="orderItems">
                    @foreach (var foodOrder in Model._FoodOrder)
                    {
                        <div class="orderItem">
                            <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                            <div class="modifyBtns">
                                @{
                                    decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                }
                                <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                            </div>
                        </div>
                    }
                </div>

                <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

                <p style="font-weight: bold; margin-bottom: 0;">WARNING! This will permanently delete the order</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-action="DeleteAllItems" method="post">
                    <button type="submit" class="btn btn-primary deleteBtn">Delete</button>
                </form>
                
            </div>
        </div>
    </div>
</div>


