@using Microsoft.AspNetCore.Identity;
@using TuckshopOrdering.Areas.Identity.Data;
@model MenuViewModel
@inject SignInManager<TuckshopOrderingUser> SignInManager
@inject UserManager<TuckshopOrderingUser> UserManager

@{
    ViewData["Title"] = "Menu";

    int? orderId = ViewBag.OrderID as int?;

    DateTime min = DateTime.Now;

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>

            decimal grandTotal = Model._FoodOrder.Sum(foodOrder => foodOrder.Menu.price * foodOrder.quantity);
}

<!--Admin View-->
@if (SignInManager.IsSignedIn(User)) @*checks if the user is signed in. If they are, the admin view will be displayed, else; the default menu view will be displayed*@
{
    <div style="display: flex; gap: 10px; margin-top: 20px;">
        <form asp-action="Index" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="search" placeholder="Search..." name="searchString">
                <button class="btn btn-outline-secondary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </div>
        </form>
        <form asp-action="Index"><button class="returnBtn">Return</button></form>
        <button class="returnBtn"><a asp-action="Create" style="color: white; text-decoration: none;">Create</a></button>
    </div>
<div style="display: flex; margin-bottom: 60px;">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 0px; width: 80%;">
        @foreach (var menuItem in Model._Menu)
        {
            <div class="card cardStyle" style="width: 160px;"> 
                <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle editBtn" href="#" role="button" id="editDropDown" data-bs-toggle="dropdown" aria-expanded="false" style="z-index: 15c;">
        Modify
        </a>
        <ul class="dropdown-menu" aria-labelledby="editDropDown">
        <li><a asp-action="Edit" asp-route-id="@menuItem.MenuID" class="dropdown-item">Edit</a></li>
        <li><a asp-action="Details" asp-route-id="@menuItem.MenuID" class="dropdown-item">Details</a></li>
        <li><a asp-action="Delete" asp-route-id="@menuItem.MenuID" class="dropdown-item">Delete</a></li>
        </ul>
        </div>
                <form asp-action="AddToOrder" method="post"> @*when the user submits the form, the 'AddToOrder' action method of the menu controller will be called *@
                    <div class="card-body">
                        <img class="card-img" src="@("~/menuImages/"+menuItem.imageName)" asp-append-version="true" style="width:100%; border-radius: 10px; height: 160px; object-fit: cover; margin-bottom: 0px;" alt="@menuItem.foodName">
                        <h6 class="card-title title">
                            @Html.DisplayFor(model => menuItem.foodName)
                        </h6>
                        <h8 class="card-subtitle subtitle">
                            @Html.DisplayFor(model => menuItem.price)
                        </h8>
                        <div class="cardBtns">
@*                            when the add button is pressed, the following three values (menu ID, category ID, and Order ID) for that specific menu item will be passed via the parameter under 'name'
*@                            <input type="hidden" name="menuItemID" value="@menuItem.MenuID" /> 
                            <input type="hidden" name="currentCategoryID" value="@menuItem.CategoryID" />
                            <input type="hidden" name="orderId" value="@orderId" />
                            <button type="submit" class="addBtn">Add</button> @*submits the form*@
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>

    <div style="width: 20%;">
    <div class="ordersBox">
        <h1 style="text-align: center; padding: 10px;">Order:</h1>
        <div class="line">
            <hr class="solid">
        </div>

        <!--Repeatable orders code-->

        <div class="orderItems">
            @if (Model._FoodOrder != null && Model._FoodOrder.Any())
            {
                <script>
                    document.getElementById("checkout").removeAttribute("disabled");
                </script>

                @foreach (var foodOrder in Model._FoodOrder)
                {
                    <div class="orderItem">
                        <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                        <div class="modifyBtns">
                            <form asp-action="DecreaseQuantity" method="post">
                                <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                <input type="hidden" name="orderId" value="@orderId" />
                                <button type="submit" class="orderItemBtn">-</button>
                            </form>
                            <form asp-action="IncreaseQuantity" method="post">
                                <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                <input type="hidden" name="orderId" value="@orderId" />
                                <button type="submit" class="orderItemBtn">+</button>
                            </form>

                            @{
                                decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                            }
                            <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                            <form asp-action="DeleteItem" method="post">
                                <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                <input type="hidden" name="orderId" value="@orderId" />
                                <button type="submit" class="orderItemBtn cancelBtn">X</button>
                            </form>


                        </div>
                    </div>
                }
            }
            else
            {
                <h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Your order is currently empty :(</h5>

                <script>
                    document.getElementById("checkout").setAttribute("disabled");
                </script>
            }
        </div>

@*        @{
            decimal grandTotal = Model._FoodOrder.Sum(foodOrder => foodOrder.Menu.price * foodOrder.quantity);
        }*@

        <p id="grandTotal" style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

        <div class="gridBtns">
            <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
            <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
    </div>
    </div>
    </div>

    @*Modals*@

    <!--Checkout-->

    <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form asp-action="CompleteOrder" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Checkout</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <!--Customer fills in details here-->

                                    <h1>Details</h1>

                                    <div class="mb-3">
                                        <!--Note field-->
                                        <label for="note" class="form-label">Notes (optional)</label>
                                        <input type="text" name="note" class="form-control" id="note" placeholder="e.g. No tomato on chicken burger" />
                                    </div>

                                    <div class="mb-3">
                                        <!--Student name field-->
                                        <label for="studentName" class="form-label">Student Name</label>
                                        <input type="text" name="studentName" class="form-control" id="studentName" placeholder="e.g. Jonathan Santos" required>
                                    </div>
                                    <div class="mb-3">
                                        <!--Room number field-->
                                        <label for="roomNumber" class="form-label">Room Number</label>
                                        <input type="number" max="36" min="1" name="roomNumber" class="form-control" id="roomNumber" required>
                                        <div class="form-text">
                                            Please note; this is the room number that the order will be delivered to if it is a Friday lunch order
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <!--Collection date field-->
                                        <label for="collectionDate" class="form-label">Collection Date</label>
                                        <input type="date" name="collectionDate" class="form-control" min="@min.ToString("yyyy-MM-dd")" id="collectionDate">
                                        <div class="form-text">
                                            The order can be collected at morning tea or lunchtime
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <!--email field-->
                                        <label for="email" class="form-label">Email (optional)</label>
                                        <input type="email" name="email" class="form-control" id="email" placeholder="sam123@gmail.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <!--Order details-->
                                    <div class="orderItems">
                                        <h1>Order</h1>
                                        @foreach (var foodOrder in Model._FoodOrder)
                                        {
                                            <div class="orderItem">
                                                <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                                <div class="modifyBtns">

                                                    @{
                                                        decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                                    }
                                                    <p>$@total</p>


                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            Checkout<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Delete-->

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="DeleteAllItems" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="orderItems">
                            @foreach (var foodOrder in Model._FoodOrder)
                            {
                                <div class="orderItem">
                                    <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                    <div class="modifyBtns">
                                        @{
                                            decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                        }
                                        <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                                    </div>
                                </div>
                            }
                        </div>

                        <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

                        <p style="font-weight: bold; margin-bottom: 0;">WARNING! This will permanently delete the order</p>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">
                            Delete<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 }





 @*Default user view*@
else
{
    <div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="row">
        <div class="col-8">
            <div class="container sticky">
                <form asp-controller="Menus" asp-action="Index" method="post">
                    <div class="categoriesRow">
                        @foreach (var category in Model._Category)
                        {
                            <button type="submit" name="categoryId" value="@category.CategoryID" data-category-id="@category.CategoryID" data-category-name="@category.CategoryName" class="menuBtns">@Html.DisplayFor(model => category.CategoryName)</button>
                        }
                    </div>
                </form>
            </div>

            <div style="display: flex; gap: 10px; margin-bottom: 20px; margin-top: 20px;">
                <form asp-action="Index" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="search" placeholder="Search..." name="searchString">
                        <button class="btn btn-outline-secondary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </form>
                <form asp-action="Index"><button class="returnBtn">Return</button></form>
            </div>
                <h1>@ViewBag.SelectedCategoryID</h1>
            <div class="menu">
                

                @foreach (var menuItem in Model._Menu)
                {
                    <div class="card cardStyle">
                        <form asp-action="AddToOrder" method="post">
                            <!--Calls the AddToOrder function in the menus controller-->
                            <div class="card-body">
                                <img class="card-img" src="@("~/menuImages/"+menuItem.imageName)" asp-append-version="true" style="width:100%; border-radius: 10px; height: 160px; object-fit: cover; margin-bottom: 10px;" alt="@menuItem.foodName">
                                <h4 class="card-title title">
                                    @Html.DisplayFor(model => menuItem.foodName)
                                </h4>
                                <h6 class="card-subtitle subtitle">
                                    @Html.DisplayFor(model => menuItem.price)
                                </h6>
                                <div class="cardBtns">
                                    <input type="hidden" name="menuItemID" value="@menuItem.MenuID" />
                                    <input type="hidden" name="currentCategoryID" value="@menuItem.CategoryID" />
                                    <input type="hidden" name="orderId" value="@orderId" />
                                    <button type="submit" class="addBtn">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
            <!--Cart button for mobile view-->
                <div class="mobileCartParent">
                    <button class="mobileCart" data-bs-toggle="modal" data-bs-target="#cartModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </button>
                </div>

                <!--Cart modal for mobile view-->
                <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form asp-action="DeleteAllItems" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title">Your Order</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">

                                    <!--Repeatable orders code-->

                                    <div class="orderItems">
                                        @if (Model._FoodOrder != null && Model._FoodOrder.Any())
                                        {
                                            <script>
                                                document.getElementById("checkout").removeAttribute("disabled");
                                            </script>

                                            @foreach (var foodOrder in Model._FoodOrder)
                                            {
                                                <div class="orderItem">
                                                    <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                                    <div class="modifyBtns">
                                                        <form asp-action="DecreaseQuantity" method="post">
                                                            <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                                            <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                                            <input type="hidden" name="orderId" value="@orderId" />
                                                            <button type="submit" class="orderItemBtn">-</button>
                                                        </form>
                                                        <form asp-action="IncreaseQuantity" method="post">
                                                            <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                                            <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                                            <input type="hidden" name="orderId" value="@orderId" />
                                                            <button type="submit" class="orderItemBtn">+</button>
                                                        </form>

                                                        @{
                                                            decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                                        }
                                                        <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                                                        <form asp-action="DeleteItem" method="post">
                                                            <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                                            <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                                            <input type="hidden" name="orderId" value="@orderId" />
                                                            <button type="submit" class="orderItemBtn cancelBtn">X</button>
                                                        </form>


                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Your order is currently empty :(</h5>

                                            <script>
                                                document.getElementById("checkout").setAttribute("disabled");
                                            </script>
                                        }
                                    </div>

@*                                    @{
                                        decimal grandTotal = Model._FoodOrder.Sum(foodOrder => foodOrder.Menu.price * foodOrder.quantity);
                                    }*@

                                    <p id="grandTotal" style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>
                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        Delete<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                        </svg>
                                    </button>
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#checkoutModal">
                                        Checkout<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </div>

        <div class="col-4">
            <div class="ordersBox">
                <h1 style="text-align: center; padding: 10px;">Order:</h1>
                <div class="line">
                    <hr class="solid">
                </div>

                <!--Repeatable orders code-->

                <div class="orderItems">
                    @if (Model._FoodOrder != null && Model._FoodOrder.Any())
                    {
                            <script>
                                document.getElementById("checkout").removeAttribute("disabled");
                            </script>

                        @foreach (var foodOrder in Model._FoodOrder)
                        {
                            <div class="orderItem">
                                <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                <div class="modifyBtns">
                                    <form asp-action="DecreaseQuantity" method="post">
                                        <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                        <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                        <input type="hidden" name="orderId" value="@orderId" />
                                        <button type="submit" class="orderItemBtn">-</button>
                                    </form>
                                    <form asp-action="IncreaseQuantity" method="post">
                                        <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                        <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                        <input type="hidden" name="orderId" value="@orderId" />
                                        <button type="submit" class="orderItemBtn">+</button>
                                    </form>

                                    @{
                                        decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                    }
                                    <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                                    <form asp-action="DeleteItem" method="post">
                                        <input type="hidden" name="foodOrderID" value="@foodOrder.FoodOrderID" />
                                        <input type="hidden" name="categoryID" value="@foodOrder.Menu.CategoryID" />
                                        <input type="hidden" name="orderId" value="@orderId" />
                                        <button type="submit" class="orderItemBtn cancelBtn">X</button>
                                    </form>


                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Your order is currently empty :(</h5>

                        <script>
                            document.getElementById("checkout").setAttribute("disabled");
                        </script>
                    }
                </div>

                @{
                    grandTotal = Model._FoodOrder.Sum(foodOrder => foodOrder.Menu.price * foodOrder.quantity);
                }

                <p id="grandTotal" style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

                <div class="gridBtns">
                    <button type="button" id="checkout" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#checkoutModal">Checkout</button>
                    <button type="button" class="gridBtnsItem" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row-reverse;">
        <!--Back to top button-->
        <a href="#" class="top">Back to top ^</a>
    </div>
</div>

    <!--Checkout-->

    <div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form asp-action="CompleteOrder" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <!--Customer fills in details here-->

                                    <h1>Details</h1>

                                    <div class="mb-3">
                                        <!--Note field-->
                                        <label for="note" class="form-label">Notes (optional)</label>
                                        <input type="text" name="note" class="form-control" id="note" placeholder="e.g. No tomato on chicken burger" />
                                    </div>

                                    <div class="mb-3">
                                        <!--Student name field-->
                                        <label for="studentName" class="form-label">Student Name</label>
                                        <input type="text" name="studentName" class="form-control" id="studentName" placeholder="e.g. Jonathan Santos" required>
                                    </div>
                                    <div class="mb-3">
                                        <!--Room number field-->
                                        <label for="roomNumber" class="form-label">Room Number</label>
                                        <input type="number" max="36" min="1" name="roomNumber" class="form-control" id="roomNumber" required>
                                        <div class="form-text">
                                            Please note; this is the room number that the order will be delivered to if it is a Friday lunch order
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <!--Collection date field-->
                                        <label for="collectionDate" class="form-label">Collection Date</label>
                                        <input type="date" name="collectionDate" class="form-control" min="@min.ToString("yyyy-MM-dd")" id="collectionDate">
                                        <div class="form-text">
                                            The order can be collected at morning tea or lunchtime
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <!--email field-->
                                        <label for="email" class="form-label">Email (optional)</label>
                                        <input type="email" name="email" class="form-control" id="email" placeholder="sam123@gmail.com">
                                    </div>
                                </div>
                                <div class="col">
                                    <!--Order details-->
                                    <div class="orderItems">
                                        <h1>Order</h1>
                                        @foreach (var foodOrder in Model._FoodOrder)
                                        {
                                            <div class="orderItem">
                                                <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                                <div class="modifyBtns">

                                                    @{
                                                        decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                                    }
                                                    <p>$@total</p>


                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">
                        Checkout<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!--Delete-->

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="DeleteAllItems" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                    <div class="modal-body">

                        <div class="orderItems">
                            @foreach (var foodOrder in Model._FoodOrder)
                            {
                                <div class="orderItem">
                                    <p class="flexItem" style="margin-left: 20px;">@Html.DisplayFor(model => foodOrder.quantity)x @Html.DisplayFor(model => foodOrder.Menu.foodName)</p> <!--Item quantity and item name-->
                                    <div class="modifyBtns">
                                        @{
                                            decimal total = @foodOrder.Menu.price * foodOrder.quantity;
                                        }
                                        <p>$@total</p>                                  <!--Item price (dependant on quantity)-->
                                    </div>
                                </div>
                            }
                        </div>

                        <p style="margin-left: 20px; font-weight: bold;">Total Price: $@grandTotal</p>

                        <p style="font-weight: bold; margin-bottom: 0;">WARNING! This will permanently delete the order</p>
                    </div>
           

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">
                            Delete<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                </button>
            </div>
                </form>
            </div>
        </div>
    </div>
}