@model IEnumerable<TuckshopOrdering.Models.FoodOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.MenuID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
